In [21]:
import pandas as pd
import numpy as np
import scipy.stats as stats

# **Load Dataset**

In [10]:
data = pd.read_excel('/content/drive/MyDrive/Google Colab/Book1.xlsx')

In [11]:
data.head()

,Name,Blood Glucose Level,Daibetes m.member,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Name.1,Daibetes f.member,Blood Glucose Level.1
0,Moazam,76,1,NaN,NaN,NaN,NaN,NaN,NaN,aqsa,1.0,76
1,Ali,81,1,NaN,NaN,NaN,NaN,NaN,NaN,amina,0.0,77
2,Hammad,92,0,NaN,NaN,NaN,NaN,NaN,NaN,ayesha,2.0,99
3,Awais,85,0,NaN,NaN,NaN,NaN,NaN,NaN,iqra,0.0,81
4,Hamais,98,3,NaN,NaN,NaN,NaN,NaN,NaN,sidra,3.0,90

 **Drop Missing Values**

In [16]:
#drop some of missing values
new_data = data.drop(columns=['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'])

In [32]:
#to check if values are dropped or not info() method is used
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   50 non-null     object
 1   Blood Glucose Level    50 non-null     int64
 2   Daibetes m.member      50 non-null     int64
 3   Name.1                 50 non-null     object
 4   Daibetes f.member      50 non-null     float64
 5   Blood Glucose Level.1  50 non-null     int64
dtypes: float64(1), int64(3), object(2)
memory usage: 2.5+ KB

## **Standard Deviation and mean for male students for Blood Glucose Level**

In [18]:
std_deviation_for_males = new_data['Blood Glucose Level'].std()
std_deviation_for_males

7.380725034901133

In [19]:
mean_val_for_m = new_data['Blood Glucose Level'].mean()
mean_val_for_m

88.12

**Hypothesis Testing for male students for Blood Gluscose Level**

In [22]:

# Number of observations
n = new_data['Blood Glucose Level'].count()

# Hypothesized population mean
population_mean = 1.0  # Change this value as needed

# Calculate the t-statistic
t_statistic = (mean_val_for_m - population_mean) / (std_deviation_for_males / np.sqrt(n))

# Calculate the degrees of freedom
df = n - 1

# Calculate the p-value
p_value = stats.t.sf(np.abs(t_statistic), df=df) * 2  # two-tailed test

# Set the significance level
alpha = 0.05  # Common significance level

# Output the results
print(f"Standard Deviation: {std_deviation_for_males}")
print(f"Mean: {mean_val_for_m}")
print(f"Number of observations: {n}")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

# Determine if we reject the null hypothesis
if p_value < alpha:
    print("Reject the null hypothesis (H0). The sample mean is significantly different from the hypothesized population mean.")
else:
    print("Fail to reject the null hypothesis (H0). The sample mean is not significantly different from the hypothesized population mean.")

Standard Deviation: 7.380725034901133
Mean: 88.12
Number of observations: 50
T-statistic: 83.46489333455737
P-value: 1.7283246014026812e-54
Reject the null hypothesis (H0). The sample mean is significantly different from the hypothesized population mean.

## **Standard Deviation and Mean for male students for Diabetes**

In [23]:
std_deviation_for_dbm = new_data['Daibetes m.member'].std()
std_deviation_for_dbm

1.0303555954432548

In [24]:
mean_val_for_dbm = new_data['Daibetes m.member'].mean()
mean_val_for_dbm

1.14

**Hypothesis Testing for male students for Diabetes**

In [25]:

# Number of observations
n = new_data['Blood Glucose Level'].count()

# Hypothesized population mean
population_mean = 1.0  # Change this value as needed

# Calculate the t-statistic
t_statistic = (mean_val_for_m - population_mean) / (std_deviation_for_males / np.sqrt(n))

# Calculate the degrees of freedom
df = n - 1

# Calculate the p-value
p_value = stats.t.sf(np.abs(t_statistic), df=df) * 2  # two-tailed test

# Set the significance level
alpha = 0.05  # Common significance level

# Output the results
print(f"Standard Deviation: {std_deviation_for_males}")
print(f"Mean: {mean_val_for_m}")
print(f"Number of observations: {n}")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

# Determine if we reject the null hypothesis
if p_value < alpha:
    print("Reject the null hypothesis (H0). The sample mean is significantly different from the hypothesized population mean.")
else:
    print("Fail to reject the null hypothesis (H0). The sample mean is not significantly different from the hypothesized population mean.")

Standard Deviation: 7.380725034901133
Mean: 88.12
Number of observations: 50
T-statistic: 83.46489333455737
P-value: 1.7283246014026812e-54
Reject the null hypothesis (H0). The sample mean is significantly different from the hypothesized population mean.

## **Standard Deviation and Mean for female students for blood glucose level**

In [26]:
std_deviation_for_females = new_data['Blood Glucose Level.1'].std()
std_deviation_for_females

7.520963898276848

In [27]:
mean_val_for_dgf = new_data['Blood Glucose Level.1'].mean()
mean_val_for_dgf

87.92

**Hypothesis Testing for female students for Blood Gluscose Level**

In [28]:


# Calculate mean and standard deviation for 'Blood Glucose Level.1'
mean_val_for_dgf = data['Blood Glucose Level.1'].mean()
std_deviation_for_females = data['Blood Glucose Level.1'].std()

# Number of observations
n = new_data['Blood Glucose Level.1'].count()

# Hypothesized population mean
population_mean = 1.0  # Change this value as needed

# Calculate the t-statistic
t_statistic = (mean_val_for_dgf - population_mean) / (std_deviation_for_females / np.sqrt(n))

# Calculate the degrees of freedom
df = n - 1

# Calculate the p-value
p_value = stats.t.sf(np.abs(t_statistic), df=df) * 2  # two-tailed test

# Set the significance level
alpha = 0.05  # Common significance level

# Output the results
print(f"Standard Deviation: {std_deviation_for_females}")
print(f"Mean: {mean_val_for_dgf}")
print(f"Number of observations: {n}")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

# Determine if we reject the null hypothesis
if p_value < alpha:
    print("Reject the null hypothesis (H0). The sample mean is significantly different from the hypothesized population mean.")
else:
    print("Fail to reject the null hypothesis (H0). The sample mean is not significantly different from the hypothesized population mean.")

Standard Deviation: 7.520963898276848
Mean: 87.92
Number of observations: 50
T-statistic: 81.72053775556137
P-value: 4.8299296190516893e-54
Reject the null hypothesis (H0). The sample mean is significantly different from the hypothesized population mean.

## **Standard Deviation and Mean for female students for Diabetes**

In [29]:
std_deviation_for_females = new_data['Daibetes f.member'].std()
std_deviation_for_females

1.0034701971084132

In [30]:
mean_val_for_dbf = new_data['Daibetes f.member'].mean()
mean_val_for_dbf

1.0731428571428574

**Hypothesis Testing for female students for Diabetes**

In [31]:

# Number of observations
n = new_data['Daibetes f.member'].count()

# Hypothesized population mean
population_mean = 1.0  # Change this value as needed

# Calculate the t-statistic
t_statistic = (mean_val_for_dbf - population_mean) / (std_deviation_for_females / np.sqrt(n))

# Calculate the degrees of freedom
df = n - 1

# Calculate the p-value
p_value = stats.t.sf(np.abs(t_statistic), df=df) * 2  # two-tailed test

# Set the significance level
alpha = 0.05  # Common significance level

# Output the results
print(f"Standard Deviation: {std_deviation_for_females}")
print(f"Mean: {mean_val_for_dbf}")
print(f"Number of observations: {n}")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

# Determine if we reject the null hypothesis
if p_value < alpha:
    print("Reject the null hypothesis (H0). The sample mean is significantly different from the hypothesized population mean.")
else:
    print("Fail to reject the null hypothesis (H0). The sample mean is not significantly different from the hypothesized population mean.")

Standard Deviation: 1.0034701971084132
Mean: 1.0731428571428574
Number of observations: 50
T-statistic: 0.51540953014956
P-value: 0.6085845311998239
Fail to reject the null hypothesis (H0). The sample mean is not significantly different from the hypothesized population mean.